<!-- Material form login -->
<div class="login-container">
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 login-form-card p-2 ml-auto">
    <mdb-card>

        <mdb-card-header class="info-color white-text text-center py-1">              
            <span style="font-size: 3rem;"><mdb-icon fas icon="user-circle"></mdb-icon></span>
        </mdb-card-header>
    
    
        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
    
        <!-- Form -->
        <form class="text-center" style="color: #757575;">
    
            <!-- Email -->
            <div class="md-form">
            <input type="email" id="materialLoginFormEmail" class="form-control" mdbInput>
            <label for="materialLoginFormEmail">E-mail</label>
            </div>
    
            <!-- Password -->
            <div class="md-form">
            <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput>
            <label for="materialLoginFormPassword">Password</label>
            </div>
    
            <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <mdb-checkbox>Remember me</mdb-checkbox>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
            </div>
    
            <!-- Sign in button -->
            <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0 rounded-pill" mdbWavesEffect
            type="button" (click)="btnClick();">Sign in</button>
    
            <!-- Register -->
            <p>Not a member?
            <a href="register">Register</a>
            </p>
    
        </form>
        <!-- Form -->
    
        </mdb-card-body>
    
    </mdb-card>
    <!-- Material form login -->  
</div>
</div>
</div>