.container-fluid {
    // margin-bottom: 30px;
     background: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;   
     width:100%;
     min-height: 500px;
     //opacity: 0.4;
 }
 
.register-form-card {
    margin: 0 5% 0 5%;
}