<div class="container-fluid row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 register-form-card p-2 ml-auto">
<!-- Material form register -->
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-3">
      <h5>
        <strong>Sign up</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form [formGroup]="registerForm" class="text-center" style="color: #757575;">
  
        <div class="form-row">
          <div class="col">
            <!-- First name -->
            <div class="md-form">
              <input type="text" id="materialRegisterFormFirstName" class="form-control" mdbInput formControlName="firstName">
              <label for="materialRegisterFormFirstName">First name</label>
            </div>
          </div>
          <div class="col">
            <!-- Last name -->
            <div class="md-form">
              <input type="text" id="materialRegisterFormLastName" class="form-control" mdbInput formControlName="lastName">
              <label for="materialRegisterFormLastName">Last name</label>
            </div>
          </div>
        </div>
      <!-- User Name -->
      <div class="md-form mt-0">
        <input type="text" id="materialRegisterFormUsername" class="form-control" mdbInput formControlName="username">
        <label for="materialRegisterFormUsername">User name</label>
      </div>
        <!-- E-mail -->
        <div class="md-form mt-0">
          <input type="email" id="materialRegisterFormEmail" class="form-control" mdbInput formControlName="email">
          <label for="materialRegisterFormEmail">E-mail</label>
        </div>
  
        <!-- Password -->
        <div class="md-form">
          <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
            mdbInput formControlName="password">
          <label for="materialRegisterFormPassword">Password</label>
          <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
          </small>
        </div>
  
        <!-- Phone number -->
        <div class="md-form">
          <input type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
            mdbInput formControlName="phoneNumber">
          <label for="materialRegisterFormPhone">Phone number</label>
          <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
            Optional - for two-step authentication
          </small>
        </div>
  
        <!-- Sign up button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0  rounded-pill" mdbWavesEffect
          type="button" (click)="onSubmit();">Sign up</button>
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form register -->
  </div>
  </div>